.jxy_track {
	width: 10px;
	height:10px;
	font-size:20px;
	-webkit-transform:rotate(-28deg);
	text-shadow:0px 2px 8px #333;
	position:absolute;
	z-index:1020;
	margin-left:-5px;
	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: #333;
   	color:white;
}

.jxy_name {
	background:white;
	border:2px solid #333;
	border-radius: 5px;
	position:absolute;
	top:35px;
	-webkit-transform:rotate(28deg);
	-webkit-text-stroke-width: 0px;
	color:#333;
	text-shadow:0px 0px;
	padding:4px;
	box-shadow: 3px 3px 12px;
}

@-webkit-keyframes click_expand {
	0% {
		opacity:1;
		border-radius:2px;
		height:4px;
		width:4px;
		margin:48px;
	}
	99% {
		opacity:0;
		border-radius:50px;
		height:100px;
		width:100px;
		margin:0px;
	}
	100% {
		opacity:0;
		border-radius:0;
		border-width:0;
		height:0;
		width:0;
		margin:0px;
	}
}

.jxy_click {
	width:100px;
	height:100px;
	position:absolute;
	z-index:1010;
}

.jxy_click_inner {
	-webkit-animation:click_expand 2s;
	background:#FFFB9D;
}

.jxy_overlay {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000;
}

.jxy_overlay_inner {
	position:fixed;
	width:100%;
	height:100%;
	background:black;
	opacity:0.5;
}

.jxy_heatmap {
	position:fixed;
	width:100%;
	height:100%;
}