body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jxy_track {
	width:10px;
	height:10px;
	border:1px solid #DDD;
	position:absolute;
}

@-webkit-keyframes click_expand {
	0% {
		opacity:1;
		border-radius:2px;
		height:4px;
		width:4px;
		margin:48px;
	}
	99% {
		opacity:0;
		border-radius:50px;
		height:100px;
		width:100px;
		margin:0px;
	}
	100% {
		opacity:0;
		border-radius:0;
		border-width:0;
		height:0;
		width:0;
		margin:0px;
	}
}

.jxy_click {
	width:100px;
	height:100px;
	position:absolute;
}

.jxy_click_inner {
	-webkit-animation:click_expand 2s;
	background:#FFFB9D;
}