doctype html5
html
  head
    title= 'HeatWave Client'
  body
    script(src='http://127.0.0.1:3000/javascripts/client_loader.js')
    h1 Client Test Page
        script.
            hwloader.load( 'http://'+'127.0.0.1', '3000', function() {
                hwclient.init({uid : #{uid}, host : '127.0.0.1', port : '3000'});
            });