include client.html
//- extends ../layout
//- 
//- block content
//-     script(src='/javascripts/client_loader.js')
//-     h1 Client Test Page
//-         script.
//-             jQuery(document).ready(function() {
//-                 hwloader.load('127.0.0.1', '3000', function() {
//-                         hwclient.init({uid : #{uid}, host : '127.0.0.1', port : '3000'});
//-                 });
//-             });
