<html>
  <head>
      <title>HeatWave Client</title>
  </head>
  <body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <script type="text/javascript" src="http://192.168.110.10:3000/javascripts/client_loader.js"></script>
    <script type="text/javascript">
        hwloader.load('http://192.168.110.10', '3000', function() {
            hwclient.init({uid : '3359567', host : '192.168.110.10', port : '3000'});
        });
    </script>
  </body>
</html>